-# add to end of index.html.haml
= link_to 'Add new movie', new_movie_path

%h1 All Movies

%table#movies
  %thead
    %tr
      %th Row
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each_with_index do |movie,index|
      = render partial: 'layouts/movie', locals: {movie: movie,index: index}

= render partial: 'layouts/footer'